<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Welcome to Meal Mate!</h1>
        <p>Meal Mate is a food delivery platform that connects busy professionals with local, delicious, and affordable food options.</p>
    </div>
    <div>
        <a href="restaurant_page">Add New Restaurant</a>
        <a href="view_restaurants">View All Restaurants</a>
    </div>
</body>
</html>